<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  
</header>
<div class="sample-box">
  <div class="good">
    <div class="card">
      <div class="card-body">
        <%= form_with url: '/rooms', method: :get do |form|%>
          <h1 class="card-title">Potepan Shareで まだ体験したことのない 旅をしよう</h1>
          <%= form.text_field :address, placeholder: '東京' %>
          <button class="btn btn-primary">探す</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
