<h1>予約確認</h1>

<p>チェックイン日: <%= @reservation.check_in_date %></p>
<p>チェックアウト日: <%= @reservation.check_out_date %></p>
<p>人数: <%= @reservation.number_of_guests %></p>
<p>部屋: <%= @room.name %></p>
<p>住所: <%= @room.address %></p>
<p>合計金額: <%= @reservation.total_price %></p>

<%= form_with model: @reservation, url: reservations_path, local: true do |form| %>
  <%= form.hidden_field :check_in_date, value: @reservation.check_in_date %>
  <%= form.hidden_field :check_out_date, value: @reservation.check_out_date %>
  <%= form.hidden_field :number_of_guests, value: @reservation.number_of_guests %>
  <%= form.hidden_field :room_id, value: @reservation.room_id %>
  <%= form.hidden_field :days, value: @reservation.days %>
  <%= form.hidden_field :total_price, value: @reservation.total_price %>

  <div class="actions">
    <%= form.submit '予約を確定する' %>
  </div>
<% end %>

<%= link_to '修正する', new_reservation_path(room_id: @room.id) %>


