<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card p-4" style="max-width: 600px; width: 100%;">
    <div class="card-body">
        <h1>新規予約</h1>

        <%= form_with model: @reservation, url: reservations_path, local: true do |form| %>
          <div class="field">
            <%= form.label :check_in_date, 'チェックイン日' %>
            <%= form.date_field :check_in_date, id: 'check_in_date' %>
          </div>

          <div class="field">
            <%= form.label :check_out_date, 'チェックアウト日' %>
            <%= form.date_field :check_out_date, id: 'check_out_date' %>
          </div>

          <div class="field">
            <%= form.label :number_of_guests, '人数' %>
            <%= form.number_field :number_of_guests, id: 'number_of_guests' %>
          </div>

          <%= form.hidden_field :room_id, value: @room.id, id: 'room_id' %>

          <div class="actions">
            <%= form.submit '予約内容を確認する' %>
          </div>
        <% end %>

          

        <div class="actions">
          <%= link_to '戻る', room_path(@room) %>
        </div>
      </div>
    </div>