<h1>施設一覧</h1>


<% @rooms.each do |room| %>
  <div>
  <%= image_tag 'default_room_image.png', alt: 'Default Room Image' if room.image.blank? %>
    <h2><%= link_to room.name, room %></h2>
    <p><%= room.description %></p>
    <p>料金: <%= room.price %>円/日</p>
    <p>作成日: <%= room.created_at.strftime("%Y年%m月%d日") %></p>
  </div>
<% end %>