<% if @room.present? %>
  <h1><%= @room.name %></h1>

  <% if @room.image.present? %>
  <%= image_tag 'default_room_image.png', alt: @room.name %>
  <% else %>
    <div class="default-image">
      <%= image_tag 'default_room_image.png', alt: 'Default Room Image' %>
    </div>
  <% end %>

  <p><%= @room.description %></p>
  <p>料金: <%= @room.price %>円/日</p>
  <p>住所: <%= @room.address %></p>

  <%= link_to '戻る', rooms_path %>
<% else %>
  <p>データが見つかりません。</p>
<% end %>
<%= link_to '予約する', new_reservation_path(room_id: @room.id) %>
