<!DOCTYPE html>
<html>
<head>
  <title>ReservationApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <% if user_signed_in? %>
      <div class="user-info">
        <%= image_tag current_user.profile_image.url, alt: current_user.name, class: 'profile-image' if current_user.profile_image.present? %>
        <%= current_user.name %>
        <div class="dropdown">
          <%= link_to 'プロフィール', user_path(current_user) %>
          <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
          <%= button_to "ログアウト", destroy_user_session_path, { method: :delete, class: 'btn btn-link nav-item' } %>
        </div>
      </div>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-link nav-item' %>
      <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-link nav-item' %>
    <% end %>
  </header>

  <%= yield %>
</body>
</html>

